html {
    min-height: 100%;
}

/* ヘッダー */
header {
    background-color: #9ADEC5;
    position: fixed;
    width: 100%;
    height: 80px;
    filter: drop-shadow(0px 1px 1px rgba(160, 160, 160, 0.8));
    top: 0;
    z-index: 999;
}

header>a {
    position: relative;
    top: calc(50% - 14px);
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #706863;
    font-size: 22px;
    text-decoration: none;
    z-index: 20;
}


.first-view {
    width: 100%;
    margin-top: 80px;
}



/*ここからコンテンツ内容*/
.wrapper {
    width: 100%;
    text-align: center;
    color: #706863;
    font-family: serif;
    z-index: 1;
    position: relative;
    top: 0;
}


/*自己紹介部分*/
.wrapper>.contents>.profile {
    width: 100%;
    position: relative;
    background-color: #EBF1EF;
}

.wrapper>.contents>.profile>p {
    text-align: left;
    display: inline-block;
}


.wrapper>.contents>.profile>p>.left {
    position: absolute;
    top: 50%;
    left: calc(35% - 235px);
}

.wrapper>.contents>.profile>p>.right {
    position: absolute;
    top: calc(50% - 10px);
    right: calc(35% - 235px);
}

.wrapper>.contents>.profile>img {
    width: 30%;
    padding-top: 70px;
    filter: drop-shadow(2px 2px 2px rgba(160, 160, 160, 0.8));
}


/* 作品一覧 */
.wrapper>.contents>.works {
    width: 100%;
    height: calc(100% - 80px - 25px);
    position: relative;
    padding-bottom: 40px;
}


.wrapper>.contents>.works>.title {
    margin-top: 25px;
    text-align: left;
    margin-left: 11%;
}




.wrapper>.contents>.works>.row>.box {
    width: 25%;
    border-radius: 0.5em;
    overflow: hidden;
    margin-bottom: 15px;
    margin-left: 20px;
    filter: drop-shadow(0px 2px 2px rgba(160, 160, 160, 0.8));
    display: inline-block;
}

.wrapper>.contents>.works>.row>.box>a>img {
    width: 100%;
    transition: 0.5s all;
    border-radius: 0.5em;
}


.wrapper>.contents>.works>.row>.box>a>img:hover {
    transform: scale(1.1, 1.1);
    transition: 0.5s all;
    filter: opacity(60%);
    cursor: pointer;
}



/* 作品紹介ページ */
.wrapper>.contents>.introduce {
    position: relative;
}


.wrapper>.contents>.introduce>p {
    font-size: 15px;
}

.wrapper>.contents>.introduce>.title {
    margin-top: 200px;
}




.wrapper>.contents>.introduce>.top {
    margin-top: 150px;
    width: 60%;
    border-radius: 0.5em;
    filter: drop-shadow(0px 2px 2px rgba(160, 160, 160, 0.8));
    margin-bottom: 25px;
}

.wrapper>.contents>.introduce>.my_part {
    position: relative;
    background-color: #EBF1EF;
    margin-top: 200px;
}

.wrapper>.contents>.introduce>.my_part>img {
    margin-top: 30px;
    width: 15%;
}

.wrapper>.contents>.introduce>.my_part>p {
    font-size: 15px;
    text-align: left;
    display: inline-block;
    padding-bottom: 10px;

}

.wrapper>.contents>.introduce>.story {
    width: 30%;
}

.wrapper>.contents>.introduce>.illust {
    width: 60%;
}

#ranneko {
    width: 40%;
}

.wrapper>.contents>.introduce>.movie {
    width: 60%;
    padding-bottom: 25px;
    margin-bottom: 25px;
}



/* ページ上部へ */
#UP a {
    transition-duration: 0.5s;
    position: fixed;
    touch-action: manipulation;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}

#UP img {
    width: 60px;
}




/* フッター */
footer {
    background-color: #706863;
    font-family: sans-serif;
    font-size: 2.725vw;
    color: white;
    width: 100%;
    height: 25px;
    position: relative;
}

footer>p {
    position: relative;
    top: 7px;
    font-size: 10px;
}
















/* https://coco-factory.jp/ugokuweb/move01/5-1-3/ から引用 */

/*========= ドロップダウンのためのCSS ===============*/

/*==ナビゲーション全体の設定*/
nav {
    position: fixed;
    top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

/*ナビゲーションを横並びに*/
nav ul {
    /*2階層目の基点にするためrelativeを指定*/
    position: relative;
    list-style: none;
    display: flex;
    justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul {
    display: block;
}

/*ナビゲーションのリンク設定*/
nav ul li a {
    /*矢印の基点にするためrelativeを指定*/
    position: relative;
    display: block;
    text-decoration: none;
    color: #706863;
    padding: 20px 45px;
    transition: all .2s;
}

nav ul li li a {
    padding: 20px;
}

nav ul li a:hover {
    color: #fff;
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/

nav ul li.has-child>a::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 25px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #706863;
    border-right: 2px solid #706863;
    transform: rotate(135deg);
}

/*==2階層目以降の画像設定*/

nav ul li.has-child img {
    max-width: 100%;
    height: auto;
    transition: all .5s;
    vertical-align: bottom;
}

/*hoverしたら画像拡大*/
nav ul li.has-child img:hover {
    transform: scale(1.1);
}

nav ul li.has-child dt {
    overflow: hidden;
    height: 300px;
    margin: 0 0 20px 0;
}

dd {
    margin: 0;
}

@media screen and (max-width:1200px) {
    nav ul li.has-child dt {
        height: 80px;
    }
}


@media screen and (max-width:1600px) {
    nav ul li.has-child dt {
        height: 180px;
    }
}

/*== 2層目の設定 */

nav li.has-child ul {
    /*絶対配置で位置を指定*/
    position: absolute;
    left: 15%;
    top: 53px;
    z-index: 4;
    /*子要素を横並びに*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*形状を指定*/
    background: #9ADEC5;
    width: 70%;
    /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
    /*アニメーション設定*/
    transition: all .4s;
    padding-left: 0;
}

/*hoverしたら表示*/
nav li.has-child:hover>ul {
    visibility: visible;
    opacity: 1;
}

/*各ナビゲーション横幅*/
nav li.has-child ul li {
    width: 30%;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a {
    color: #fff;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active {
    background: #00A99D;
}


/*矢印の位置と向き*/

nav ul li.has-child>a::before {
    top: 20px;
    left: 20px;
    transform: rotate(135deg);
}

nav ul li.has-child.active>a::before {
    transform: rotate(-45deg);
}












/*PC版の時表示しない  絶対に一番下*/
.PC_delete {
    display: none;
}