/* ヘッダー */
header {
    background-color: #9ADEC5;
    position: fixed;
    width: 100%;
    height: 50px;
    filter: drop-shadow(0px 1px 1px rgba(160, 160, 160, 0.8));
    z-index: 10;
}




header>a {
    position: relative;
    top: 12.5px;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #706863;
    font-size: 22px;
    text-decoration: none;
}

@media screen and (max-width: 200px) {
    header>a {
        padding-top: calc(50px - 10vw);
        font-size: 10vw;
    }
}

.first-view {
    margin-top: 50px;
    width: 100%;
}



/*ハンバーガーメニューの見ため*/
.burger-btn {
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0px;
    right: 10px;
    z-index: 100;
    border: none;
}

.bar {
    width: 27px;
    height: 3px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
}


.bar_top {
    top: 15px;
}

.bar_mid {
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar_bottom {
    bottom: 15px;
}


.burger-btn.close .bar_top {
    transform: translate(-50%, 9px) rotate(45deg);
    transition: transform .3s;
}


.burger-btn.close .bar_mid {
    opacity: 0;
    transition: opacity .3s;
}

.burger-btn.close .bar_bottom {
    transform: translate(-50%, -8px) rotate(-45deg);
    transition: transform .3s;
}

/* スライドしてくる中身 */
.nav-wrapper.slide-in {
    transform: translateX(0);
    transition: .3s;
}


.nav-wrapper {
    transform: translateX(100%);
    position: fixed;
    right: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: white;
    z-index: 99;
    transition: .25s;
}

.nav-wrapper>.top {
    position: fixed;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #9ADEC5;
    filter: drop-shadow(0px 1px 1px rgba(160, 160, 160, 0.8));
}

.nav-wrapper>ul {
    position: relative;
    top: calc(50px + 5%);
    list-style-type: none;
}

.nav-wrapper>ul>.brown {
    color:#706863 ;
    font-family:serif;
    font-weight: bold;
}

.nav-wrapper>ul>.grey>a {
    color:#a0a0a0 ;
    font-family:serif;
}

.nav-wrapper>ul>.grey>a:hover {
    color:#727272 ;
    transition: .15s ease;
}

.nav-wrapper>ul>li{
    margin-top: 5px;
}

.cover {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.24);
}

body.noscroll {
    overflow: hidden;
}


/*ここからコンテンツ内容*/
.wrapper {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #706863;
    z-index: 1;
    font-family:serif;
}

.wrapper>.contents {
    position: relative;
    width: 100%;
    background-color: white;
}


/*自己紹介部分*/
.wrapper>.contents>.profile {
    margin-bottom: 70px;
}

.wrapper>.contents>.profile>img {
    width: 50%;
    padding-top: 70px;
    filter: drop-shadow(2px 2px 2px rgba(160, 160, 160, 0.8));
}

.wrapper>.contents>.profile>p {
    text-align: left;
    display: inline-block;
    font-size: 3.125vw;
}


@media screen and (min-width: 500px) {
    .wrapper {
        min-width: 500px;
    }

    .wrapper>.contents {
        max-width: 500px;
        left: calc(50% - 250px);
    }

    .wrapper>.contents>.profile>p {
        font-size: 15px;
    }
}


/* 作品一覧 */
.wrapper>.contents>.works>.title {
    text-align: left;
    position: relative;
    left: 10%;
    font-size: 3.125vw;
    margin-top: 70px;
    margin-bottom: 20px;
    width: 90%
}

.wrapper>.contents>.works>p {
    font-size: 3.125vw
}

.wrapper>.contents>.works>.row>.box>a>img {
    width: 80%;
    border-radius: 0.5em;
    filter: drop-shadow(0px 2px 2px rgba(160, 160, 160, 0.8));
    margin-bottom: 25px;

}


@media screen and (min-width: 500px) {
    .wrapper>.contents>.works>.title {
        font-size: 15px;
    }

    .wrapper>.contents>.works>p {
        font-size: 15px;
    }
}




/* 作品紹介ページ */
.wrapper>.contents>.introduce {
    position: relative;
}


.wrapper>.contents>.introduce>p {
    font-size: 3.125vw;
}

.wrapper>.contents>.introduce>.title {
    margin-top: 70px;
}

@media screen and (min-width: 500px) {
    .wrapper>.contents>.introduce>p {
        font-size: 15px;
    }
}


.wrapper>.contents>.introduce>.top {
    margin-top: 100px;
    width: 80%;
    border-radius: 0.5em;
    filter: drop-shadow(0px 2px 2px rgba(160, 160, 160, 0.8));
    margin-bottom: 25px;
}

.wrapper>.contents>.introduce>.my_part {
    position: relative;
    background-color: #EBF1EF;
    margin-top: 70px;
}

.wrapper>.contents>.introduce>.my_part>img {
    margin-top: 30px;
    width: 30%;
}

.wrapper>.contents>.introduce>.my_part>p {
    font-size: 3.125vw;
    text-align: left;
    display: inline-block;
    padding-bottom: 10px;

}


@media screen and (min-width: 500px) {
    .wrapper>.contents>.introduce>.my_part>p {
        font-size: 15px;
    }
}

.wrapper>.contents>.introduce>.story {
    width: 80%;
}

.wrapper>.contents>.introduce>.illust {
    width: 80%;
}

#ranneko {
    width: 60%;
}

.wrapper>.contents>.introduce>.movie {
    width: 80%;
    padding-bottom: 25px;
    margin-bottom: 25px;
}





/* ページ上部へ */
#UP a {
    transition-duration: 0.7s;
    position: fixed;
    touch-action: manipulation;
    right: 1%;
    bottom: 30px;
    z-index: 98;
}

#UP img {
    width: 12.5vw;
}

@media screen and (min-width: 500px) {
    #UP a {
        right: 30px;
    }

    #UP img {
        width: 40px;
    }
}



/* フッター */
footer {
    background-color: #706863;
    font-family: sans-serif;
    font-size: 2.725vw;
    color: white;
    width: 100%;
    height: 25px;
    position: relative;

}

footer>p {
    position: relative;
    top: 7px;
}

@media screen and (min-width: 500px) {
    footer {
        font-size: 10px;
    }
}


@media screen and (max-width: 200px) {
    footer>p {
        display: none;
    }
}












/*スマホ版の時に表示しない  絶対に一番下*/
.smartphone_delete {
    display: none;
}